* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container, 
.section, 
.block {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 500px;
  background-color: rgb(61, 61, 61);
}

.section {
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
}

.block {
  float: left;
  width: 258px;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.block__icon {
  margin: auto;
  width: 60px;
  height: 60px;
}

.block,
.content__title,
.content__prise,
.content__link {
  margin-top: 10px;
}

.content__title {
  color: #fc6501;
}

.content__link {
  display: inline-block;
  margin: 15px auto;
  padding: 3px;
  width: 100px;
  height: 25px;
  text-decoration: none;
  background-color: #fc6501;
  color: rgb(255, 255, 255);
}

.block:first-child { 
  border: none; 
}
